{% extends 'index.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'faqs.css' %}">
{% endblock %}

{% block title %}
   FAQs
{% endblock %}


{% block content %}

<div class="faqs container">
        <h2>Frequently Asked Questions</h2>
        <div class="mt-5 mb-5">
            <p>
                <span style="font-weight: bold;">1. What is National Cadet Corps ?</span> <br>
                The National Cadet Corps (NCC) is a youth development movement. It has enormous potential for nation
                building. The NCC provides opportunities to the youth of the country for their all-round development
                with a sense of Duty, Commitment, Dedication, Discipline and Moral Values so that they become able
                leaders and useful citizens. The NCC provides exposure to the cadets in a wide range of activities.,
                with a distinct emphasis on Social Services, Discipline and Adventure Training. The NCC is open to all
                regular students of schools and colleges on a voluntary basis. The students have no liability for active
                military service.
            </p>
            <p>
                <span style="font-weight: bold;">2. When did National Cadet Corps Come into existence ?</span> <br>
                The National Cadets Corps came into existence under the National Cadet Corps Act XXXI of 1948 (passed in
                April, 1948; came into existence on 16th July, 1948).
            </p>
            <p>
                <span style="font-weight: bold;">3. What is the nature of the NCC Programme, whether compulsory or
                    voluntary ?</span> <br>
                Voluntary.
            </p>
            <p>
                <span style="font-weight: bold;">4. Is the NCC Programme part of the Educational activity or is it a
                    part of military activity ?</span> <br>
                Educational Activity.
            </p>
            <p>
                <span style="font-weight: bold;">5. What is/are the Aim(s) of NCC ?</span> <br>
                To develop character, commandership, discipline , leadership, secular outlook , sprit of adventure and
                the ideals of selfless service amongst the youth of the country. <br>
                To create a human resource of organized, trained and motivate youth to provide leadership in all walks
                of life and always available for the service of the nation. <br>
                To provide a suitable environment to motivate the youth to take up a career in the Armed Forces.
            </p>
            <p>
                <span style="font-weight: bold;">6. What is the Motto of NCC ?</span> <br>
                The motto of NCC is: “UNITY AND DISCIPLINE”.
            </p>
            <p>
                <span style="font-weight: bold;">7. What is the NCC symbol/insignia ?</span> <br>
                It is the NCC Crest in gold in the middle, with the letters “NCC”; encircled by a wreath of seventeen
                lotus with a background in Red, Blue and Light blue.
            </p>
            <p>
                <span style="font-weight: bold;">8. What does the colour Red depicts in the NCC Crest ?</span> <br>
                Red depicts the Army.
            </p>
            <p>
                <span style="font-weight: bold;">9. What do the colours Dark Blue and Light blue in the NCC Crest
                    depict ?</span> <br>
                Deep Blue depicts the Navy and Light Blue depicts the Air Force.
            </p>
            <p>
                <span style="font-weight: bold;">10. What do the Lotus flowers depicts in NCC Crest ?</span> <br>
                The seventeen lotuses represent the 17 State Directorates.
            </p>
        </div>
    </div>



{% endblock %}
