{% extends 'index.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'latestblog.css' %}">
{% endblock %}

{% block title %}
    Role of NCC in Social Service
{% endblock %}


{% block content %}

<div class="part_1">
       <h1>Role of NCC in Social Service</h1>
       <p class="headingtitle">BY:- Abhishek Jha <br>July 3,2021</p>
       <hr>
       <div class="container">
       <div class="row">
           <div class="col-lg-2 addressing">
               <p>
                   BY:-<br>Abhishek Jha <br>July 3,2021
               </p>
           </div>
           <div class="col-lg-10 blogcontent">
              <p>
               The National Cadet Corps (NCC) is a youth development movement. It has enormous potential for nation-building. The NCC provides opportunities to the country's youth for their overall development with a sense of Duty, Commitment, Dedication, Discipline, and Moral Values to become able leaders and valuable citizens.
              </p>
              <p>
               NCC emphasizes social service as it believes that selfless social service makes the youth virtuous and makes them dedicated to the people and nation.
              </p>
              <p>
               One of the aims of the National Cadet Corps is to develop ideals of selfless service amongst the youth of the nation and to create a human resource that is always available for the service of the country; it has stood for its aim and provided its service both in militancy and public whenever the nation needed it.
              </p>
              <p>
               NCC undertakes various public service and community development programmes that help in the upliftment of weaker sections of society, protecting the environment, providing crucial help during emergencies and calamities to the people, with developing a zeal towards selfless service among youth.
              </p>
              <p>
               NCC frequently organizes health camps, blood donation camps, plantation drives, awareness rallies against dowry, female infanticide, and provides help in slum clearance, which helps build the nation and provide many people a better life.
              </p>
              <p>
               During these difficult times of COVID-19 also NCC has done a remarkable job; it has helped the local authorities in the distribution of rations, medical facilities & essential commodities. It organized many awareness camps in remote places, provided service at helplines/call centers, helped in data & traffic management. NCC IIT Roorkee also undertook a donation drive in which rations, clothes, and essential commodities were distributed to the needy people of Roorkee.
              </p>
              <p>
               We salute these selfless efforts of innumerable NCC cadets of the country and firmly believe that NCC will always rise to the Nations call.
              </p>
              <p>
               Jai Hind!
              </p>


           </div>

       </div>
   </div>

   </div>




{% endblock %}
