{% extends 'index.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'team.css' %}">
{% endblock %}

{% block title %}
   TEAM
{% endblock %}


{% block content %}

<div class="container cadets">
       <h2 class="mb-4">Cadets of the Team</h2>
       <!-- 1st Row  -->
       <div class="row" style="display: flex;">
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
       </div>
       <!-- 2nd Row  -->
       <div class="row" style="display: flex;">
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col mb-5">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
       </div>
   </div>

   <div class="container alumni">
       <h2 class="mt-5">Alumni</h2>
       <!-- 1st Row  -->
       <div class="row">
           <div class="col">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
           <div class="col">
               <div class="mb-5 mt-4" style="width: 300px;height:270px;display:block;margin:0px auto;">
                   <img src="{% static 'images/team/event.jpeg' %}" alt="">
                   <p>
                       <span style="font-weight: bold;">Name:</span> Deepak Yadav <br>
                       <span style="font-weight: bold;">Designation:</span> SUO <br>
                   </p>
               </div>
           </div>
       </div>
   </div>


{% endblock %}
